<h1><%= @post.title %></h1>
<hr>

<p>
    <%= @post.content %>
</p>

<p>
    <%= @post.likes %>
</p>

<li>
    <%= link_to @post.blogger.name, @post.blogger %>
</li>
<li>
    <%= link_to @post.destination.name, @post.destination %>
</li>

<%= button_to "Like", action: "like" %>

